
**/__pycache__/
*.pyc
*~
*.orig

venv/
myenv/  

.DS_Store
Thumbs.db
*.swp 
*.swo
*.idea/   
.vscode/  
*.sublime-project
*.sublime-workspace


*.log
*.pot
*.sqlite3
local_settings.py
db.sqlite3 



static/*
!static/.gitkeep
media/*
!media/.gitkeep


build/
dist/
*.egg-info/
*.egg
MANIFEST.in
*.whl
*.pyd
*.lib
*.cab
*.externalToolBuilders